.directory
/build
/release
/debug
Makefile*
object_script.plantumlqeditor.*
*~
*.sh
*.bat
*.tar.bz2
*.zip
plantumlqeditor
*.pro.user.*
*.user
*_plugin_import.cpp
moc_*.cpp
qrc_*.cpp
ui_*.h
*.o
.kdev4/
*.kdev4
